<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1><%= title %></h1>
   <p><%= subtitle %></p>
    <p> BIENVENIDOS</p>
   <table border="1">
   <tr>
   <td>estudiante</td>
   <td>nota</td>
   </tr>
   <tr>
   <td><%=notas.estudiante%></td>
   <td><%=notas.nota%></td>
   </tr>
   </table>
   </body>
</html>
